h1{
    color: yellowgreen;
}

.page{
    height: 640px;
    width: 1300px;
    border: 2px blue;

}

.page a{
    text-decoration: none;
    color: blueviolet;
    margin-right: 30px;
    font-size: 20px;
    float: right;
    margin-top: 85px;
}

a:hover{
    color: red;
}

.first img{
    border-radius: 50px;
}

.whole{
    background-color: aqua;
}

.anthem1{
    background-color: blueviolet;
    width: 350px;
}